* {
  box-sizing: border-box;
}

::selection {
  color: #ff9800;
  background-color: #111;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding-top: 3rem;
  background-color: #24282f;
}

/* -------------------- Header -------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  background-color: #f5f5f5;
  box-shadow: 3px 3px 4px 4px #1111114d;
}
.header-left,
.header-rigth {
  display: flex;
  align-items: center;
}
.header-left svg,
.header-left h3,
.header-left a {
  margin: 0;
  margin-left: 1rem;
}
.header-left a {
  font-size: 1.5rem;
  font-weight: 900;
  color: #111;
}
.header-left h3 > a:hover,
.header-left h3 > a:active,
.header-rigth a:hover,
.header-rigth a:active {
  color: #ff9800;
}
.header-rigth h3,
.header-rigth img {
  margin: 0;
  margin-right: 1rem;
}

/* -------------------- Containers -------------- */
.container-left {
  display: inline-block;
  flex-basis: 25%;
}
.container-rigth {
  display: inline-block;
  flex-basis: 75%;
}

/* -------------------- Containers Lists -------------- */
.episodes-list,
.characters-list,
.svg-container {
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  overflow: auto;
}
.episodes-list {
  height: calc(100vh - 7.5rem);
}
.characters-list,
.svg-container {
  height: calc(100vh - 5rem);
}
.characters-list {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* -------------------- Episodes -------------- */
.episode {
  min-width: 21rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #f5f5f5;
  box-shadow: 3px 3px 4px 4px #1111114d;
}
.active-episode {
  background-color: #ff9800;
}
.control {
  display: flex;
}
.control > label {
  display: inline-block;
  width: 20%;
  min-width: 7rem;
}
output {
  display: inline;
  margin: 0;
  font-weight: bold;
  overflow-wrap: break-word;
}
.control > button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.control > button:hover {
  color: #ff9800;
}
.control > .button-active:disabled,
.control > .button-active:hover {
  cursor: default;
  color: #111;
}

/* -------------------- Characters -------------- */

.character {
  display: flex;
  overflow: hidden;
  width: 440px;
  height: 170px;
  margin: 0 0 1rem 1rem;
  background-color: #3c3e44;
  border-radius: 12px;
  box-shadow: 3px 3px 4px 4px #1111114d;
  animation: enterCharacter 0.8s forwards ease-out;
}
@keyframes enterCharacter {
  from {
    margin-top: 20rem;
  }
  to {
    margin-top: 0rem;
  }
}

.character-img > img {
  min-width: 170px;
  height: 170px;
}
.character-content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.section > h4 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 900;
  color: #f5f5f5;
}
.section > label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #9e9e9e;
}
.section > output.status {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
.status-icon {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 5px;
  border-radius: 50%;
}
.section > output {
  font-size: 1rem;
  font-weight: 500;
  color: #f5f5f5;
}

/* -------------------- Loading Spinner -------------- */
.loading-container {
  display: none;
  margin-top: 2rem;
}
.loading-spinner {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.loading-spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* -------------------- Pagination -------------- */
.pagination {
  display: flex;
  justify-content: center;
  min-width: 21rem;
}
.pagination a {
  color: #fff;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 18px;
}
a.active-page {
  color: #ff9800;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

/* -------------------- Scroll Bar -------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c3e44;
}
